<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="RStudioRegistryGroup">
            <Component Id="RStudioRegistry" Directory="TARGETDIR" Guid="{91F02982-0DF6-4E92-B2FB-1DB73A337494}">
                <RegistryValue Id="registry" Root="HKCR" Key=".c\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry1" Root="HKCR" Key=".cpp\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry2" Root="HKCR" Key=".css\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry3" Root="HKCR" Key=".h\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry4" Root="HKCR" Key=".hpp\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry5" Root="HKCR" Key=".htm\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry6" Root="HKCR" Key=".html\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry7" Root="HKCR" Key=".js\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry8" Root="HKCR" Key=".markdown\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry9" Root="HKCR" Key=".md\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry10" Root="HKCR" Key=".mdtxt\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry11" Root="HKCR" Key=".R\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry12" Root="HKCR" Key=".Rd\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry13" Root="HKCR" Key=".rda\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry14" Root="HKCR" Key=".RData\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry15" Root="HKCR" Key=".Rhtml\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry16" Root="HKCR" Key=".Rmarkdown\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry17" Root="HKCR" Key=".Rmd\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry18" Root="HKCR" Key=".Rnw\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry19" Root="HKCR" Key=".Rpres\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry20" Root="HKCR" Key=".Rproj\OpenWithList\rstudio.exe" Value="" Type="string" />
                <RegistryValue Id="registry21" Root="HKCR" Key=".tex\OpenWithList\rstudio.exe" Value="" Type="string" />
				<RegistryValue Id="registry22" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\rstudio.exe" Value="[APPLICATIONFOLDER]bin\RStudio.exe" Type="string" />
                <RegistryValue Id="registry23" Root="HKCR" Key="RStudio.Rproj\shell\open\command" Value="[APPLICATIONFOLDER]bin\RStudio.exe &quot;%1&quot;" Type="string" />
                <RegistryValue Id="registry24" Root="HKCR" Key="Applications\rstudio.exe\shell\open\command" Value="[APPLICATIONFOLDER]bin\RStudio.exe &quot;%1&quot;" Type="string" />
                <RegistryValue Id="registry25" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".R" Value="" Type="string" />
                <RegistryValue Id="registry26" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".RData" Value="" Type="string" />
                <RegistryValue Id="registry27" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".rda" Value="" Type="string" />
                <RegistryValue Id="registry28" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".Rd" Value="" Type="string" />
                <RegistryValue Id="registry29" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".Rnw" Value="" Type="string" />
                <RegistryValue Id="registry30" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".Rmd" Value="" Type="string" />
                <RegistryValue Id="registry31" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".Rmarkdown" Value="" Type="string" />
                <RegistryValue Id="registry32" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".Rhtml" Value="" Type="string" />
                <RegistryValue Id="registry33" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".Rpres" Value="" Type="string" />
                <RegistryValue Id="registry34" Root="HKCR" Key="Applications\rstudio.exe\SupportedTypes" Name=".Rproj" Value="" Type="string" />
				<RegistryValue Id="registry35" Root="HKCR" Key="RStudio.Rproj" Value="R Project" Type="string" />
				<RegistryValue Id="registry36" Root="HKCR" Key="RStudio.Rproj\DefaultIcon" Value="[APPLICATIONFOLDER]bin\RStudio.exe,-2" Type="string" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>