<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- <Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"> -->
  <?include version.wxi?>
  <Product Id="$(var.Productcode)" Language="1033" Manufacturer="ETHZ ID-CD" Name="Fiji $(var.version)" UpgradeCode="$(var.Upgradecode)" Version="$(var.version)">
    <Package Comments="Fiji is a widely used ImageJ distribution" Compressed="yes" Description='A "batteries included" distribution of ImageJ for scientific image analysis' InstallerVersion="500" Languages="1033" Manufacturer="ID-CD, ETH Zuerich" Platform="x64" />
	<!-- <WixVariable Id="WixUIDialogBmp" Value="..\sourcepkt\APSideImage.bmp" /> -->
	<!-- <WixVariable Id="WixUIBannerBmp" Value="..\sourcepkt\APTopImage.bmp" /> -->
	<!-- <WixVariable Id="WixUIReadmeRtf" Value="$(var.ReadmeRtf)" /> -->
	

    <Icon Id="FijiIcon.ico" SourceFile="..\sourcepkt\FijiIcon.ico" />
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

    <Media Id="1" Cabinet="Data1.cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- <UIRef Id="WixUI_InstallDir" /> -->
	<UI>
		<UIRef Id="WixUI_InstallDir" />
		<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">1</Publish>
		<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
	</UI>

<!--     <EnsureTable Id="Class" />
    <EnsureTable Id="Extension" />
    <EnsureTable Id="MIME" />
    <EnsureTable Id="ProgId" />
    <EnsureTable Id="Verb" /> -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="Apps" Name="APPS">
        <Directory Id="INSTALLDIR" Name="Fiji">
			<!-- https://docs.microsoft.com/de-de/archive/blogs/alexshev/from-msi-to-wix-part-10-shortcuts -->
            <Component Id="ImageJ_win64_exe" Guid="{D9AED640-73E4-4C80-AF76-10CFA826FBF1}" Win64="yes" >
                <File Id="ImageJ_win64.exe" Vital="yes" Source="!(wix.APSourceDir)\ImageJ-win64.exe" />
				<Shortcut Id="Fiji"
					Directory="ProgramMenuDir"
					Advertise="no"
					Name="Fiji"
					WorkingDirectory="INSTALLDIR"
					Icon="FijiIcon.ico"
					Target="[!ImageJ_win64.exe]">
				</Shortcut>
                <RegistryKey Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\ImageJ-win64.exe" Root="HKLM" >
					<RegistryValue Id="regAppPath1" Value="[#ImageJ_win64.exe]" Type="string" KeyPath="yes" />
                </RegistryKey>
				<RemoveFolder Id="DeleteShortcutFolder"
                          Directory="ProgramMenuDir"
                          On="uninstall" />
			</Component>
        </Directory>
      </Directory>
	  <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Fiji" />
      </Directory>
    </Directory>
    <Feature Id="UserSettings" InstallDefault="local" Description="Delivers user settings automatically to each profile." Display="expand" Level="3" Title="User Settings">

      <Feature Id="Fiji" InstallDefault="local" Absent="disallow" AllowAdvertise="system" ConfigurableDirectory="INSTALLDIR" Description="Installs the main program." Display="expand" Level="3" Title="Fiji">
		<ComponentRef Id="ImageJ_win64_exe" />
        <ComponentGroupRef Id="FijiFiles" />
      </Feature>

    </Feature>
    <Property Id="ETHZBUILD" Value="$(var.version)#$(var.ETHZBuildNr)" />
    <Property Id="INSTALLLEVEL" Value="3" />
    <Property Id="ALLUSERS" Value="2" />
    <Property Id="MSIINSTALLPERUSER" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="FijiIcon.ico" />
    <Property Id="INSTALLDIR" Secure="yes" />

    <Property Id="UPGRADE_1" Secure="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Upgrade Id="$(var.Upgradecode)">
      <UpgradeVersion Minimum="0.40.0" Maximum="$(var.version)" Property="UPGRADE_1" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
    </Upgrade>
    <InstallExecuteSequence>
      <Custom Action="SetARPINSTALLLOCATION" Sequence="1300" />
      <RemoveExistingProducts Sequence="1450" />

    </InstallExecuteSequence>
    <InstallUISequence>
    </InstallUISequence>
  </Product>
</Wix>