<?xml version="1.0" encoding="utf-8"?>
<!--
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?include version.wxi?>
    <Product Id="$(var.Productcode)" Language="1033" Manufacturer="mozilla.org" Name="Thunderbird x64 $(var.version) ML" UpgradeCode="{49F1F11B-05B3-4DC2-8239-A856A08D51A2}" Version="$(var.version)">
        <Package Comments="Thunderbird is one of the most popular free Email clients." Compressed="yes" Description="Mail- and News-Reader" InstallerVersion="500" Keywords="Email-Client, News-Reader" Languages="1033" Manufacturer="Nick Heim, ETHZ ID" Platform="x64"/>
        <Binary Id="SC_Scripts" SourceFile="..\sourcepkt\SC_Scripts.vbs" />
		<Icon Id="TBIcons" SourceFile="..\sourcepkt\Thunderbird-Icons.exe" />
        <CustomAction Id="SetShortcutDir" Property="SHORTCUTDIR" Value="[ProgramMenuFolder][MENU_FOLDERID]\" />
        <CustomAction Id="AddCombo" BinaryKey="SC_Scripts" VBScriptCall="AddComboTable" />
        <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
        <Media Id="1" Cabinet="Data1.cab" CompressionLevel="high" EmbedCab="yes" />
		<UI Id='Mondo'>
			<UIRef Id="WixUI_Mondo" />
			<UIRef Id="WixUI_ErrorProgressText" />
			<!-- skip the EULA page on the way in -->
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg"  Order="3">NOT Installed AND NOT PATCH</Publish>
			<!-- skip the EULA page on the way back too -->
			<Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg"  Order="3">1</Publish>
		</UI>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Component Id="ARPentries" Guid="{BA37D439-DD3B-4EFD-B795-29E61448F366}" Win64="yes">
                <RegistryValue Id="regARP2" Root="HKMU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="DisplayIcon" Value="&quot;[#thunderbird.exe]&quot;,0" Type="string" />
            </Component>
			<Component Id="StartMenu_Shortcut" Guid="{7C63A73A-4F18-46E5-9DB1-F9689F8AF17D}" Win64="yes">
                <RegistryValue Id="regARP1" Root="HKMU" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="ShortcutDirectory" Value="[SHORTCUTDIR]" Type="string" KeyPath="yes" />
				<Shortcut Id="Mozilla_Thunderbird_Safe_Mode" Directory="SHORTCUTDIR" ShortName="MOZILL~1" Name="Mozilla Thunderbird (Safe Mode)" Target="[#thunderbird.exe]" Arguments="-safe-mode" Hotkey="0" Icon="TBIcons" IconIndex="1" Show="normal" WorkingDirectory="INSTALLDIR" />
				<Shortcut Id="Mozilla_Thunderbird2" Directory="SHORTCUTDIR" ShortName="MOZILL~1" Name="Mozilla Thunderbird" Target="[#thunderbird.exe]" Hotkey="0" Show="normal" WorkingDirectory="INSTALLDIR" >
					<ShortcutProperty Key="System.AppUserModel.ID" Value="D78BF5DD33499EC2" />
					<ShortcutProperty Key="{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 11" Value="1" />
				</Shortcut>
			</Component>
            <Component Id="Desktop_Shortcut" Guid="{28B2F8F7-2A4D-4EAC-BEB3-E91A32D3BFE3}" Win64="yes">
                        <Condition>DESKTOP_SC=1</Condition>
                        <RegistryValue Id="regHKLM2" Root="HKLM" Key="SOFTWARE\Mozilla\Mozilla Thunderbird\$(var.version) (en-US)\Main" Name="Create Desktop Shortcut" Value="[DESKTOP_SC]" Type="integer" KeyPath="yes" />
                        <Shortcut Id="Mozilla_Thunderbird1" Directory="DesktopFolder" Name="Mozilla Thunderbird" ShortName="TndrBird" Target="[#thunderbird.exe]" Hotkey="0" Icon="TBIcons" IconIndex="3" Show="normal" WorkingDirectory="INSTALLDIR" />
            </Component>
            <Directory Id="ProgramFiles64Folder" SourceName="Program Files">
				<Directory Id="APPLICATIONFOLDER" Name="Mozilla Thunderbird" ShortName="THNDBIRD">
					<Directory Id="INSTALLDIR" Name="." >
						<Directory Id="EXTENSIONS" Name="extensions" />
					</Directory>
				</Directory>
            </Directory>			
            <Directory Id="WindowsFolder" SourceName="Windows">
                <Directory Id="ProfilesFolder" SourceName="Profiles">
                    <Directory Id="DesktopFolder" SourceName="Desktop" />
                    <Directory Id="AppDataFolder" ShortSourceName="Applic~1" SourceName="Application Data">
                        <Directory Id="Microsoft" Name="Microsoft" ShortName="MICROS~1">
                            <Directory Id="Internet_Explorer" Name="Internet Explorer" ShortName="INTERN~1">
                                <Directory Id="Quick_Launch" Name="Quick Launch" ShortName="QUICKL~1" />
                            </Directory>
                        </Directory>
                    </Directory>
                    <Directory Id="StartMenuFolder" ShortSourceName="StartM~1" SourceName="Start Menu">
                        <Directory Id="ProgramMenuFolder" SourceName="Programs">
                            <Directory Id="SHORTCUTDIR" Name="Internet" />
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="UserSettings" ConfigurableDirectory="INSTALLDIR" Description="Delivers user settings automatically to each profile." Display="expand" Level="3" Title="User Settings">
            <ComponentRef Id="Desktop_Shortcut" />
			<Feature Id="ThunderBird" ConfigurableDirectory="INSTALLDIR" Description="Installs the main program." Display="expand" Level="3" Title="ThunderBird">
				<ComponentGroupRef Id="ThunderbirdRegistry" />
				<ComponentRef Id="ARPentries" />
                <ComponentRef Id="StartMenu_Shortcut" />
				<ComponentRef Id="Desktop_Shortcut" />
				<ComponentGroupRef Id="ThunderbirdFiles" />
				
                <Feature Id="Language_Pack_DEU" AllowAdvertise="system" Description="German user interface and swiss german spell checking features." Display="expand" Level="3" Title="Language Pack DEU">
					<ComponentGroupRef Id="ExtlpDEFiles" />
					<ComponentGroupRef Id="ExtdicDEFiles" />
                </Feature>
                <Feature Id="Language_Pack_FRA" AllowAdvertise="system" Description="French user interface and french spell checking features." Display="expand" Level="3" Title="Language Pack FRA">
					<ComponentGroupRef Id="ExtlpFRFiles" />
					<ComponentGroupRef Id="ExtdicFRFiles" />
                </Feature>
                <Feature Id="Language_Pack_ITA" AllowAdvertise="system" Description="Italian user interface and italian spell checking features." Display="expand" Level="3" Title="Language Pack ITA">
					<ComponentGroupRef Id="ExtlpITFiles" />
					<ComponentGroupRef Id="ExtdicITFiles" />
                </Feature>
                <Feature Id="Language_Pack_RUM" AllowAdvertise="system" Description="Romansh user interface." Display="expand" Level="3" Title="Language_Pack RUM">
					<ComponentGroupRef Id="ExtlpRMFiles" />
                </Feature>
								
                <Feature Id="TB_Sync" AllowAdvertise="system" Description="This installs the sync manager TBSync and providers for EAS, DAV and Google" Display="expand" Level="3" Title="TBsync + providers">
					<ComponentGroupRef Id="ExtTBSyncFiles" />
					<ComponentGroupRef Id="ExtDAV4TBSyncFiles" />
					<ComponentGroupRef Id="ExtGoogle4TBSyncFiles" />
					<ComponentGroupRef Id="ExtEAS4TBSyncFiles" />
				</Feature>
				
                <Feature Id="Sieve" AllowAdvertise="system" Description="This installs the Sieve extensions" Display="expand" Level="100" Title="Sieve">
					<ComponentGroupRef Id="ExtSieveFiles" />
				</Feature>

                <Feature Id="LookOut" AllowAdvertise="system" Description="This installs the LookOut extensions" Display="expand" Level="100" Title="LookOut">
					<ComponentGroupRef Id="ExtLookOutFiles" />
				</Feature>
				
<!--                 <Feature Id="Lightning" AllowAdvertise="system" Description="The Lightning calendar as an extension in Thunderbird." Display="expand" Level="100" Title="Lightning Calendar">
					<ComponentGroupRef Id="ExtLightningFiles" />
                    <ComponentGroupRef Id="ExtVCS_SupportFiles" />
                </Feature> -->
                <!-- <Feature Id="Extras" AllowAdvertise="system" Description="Exchange Calendar Conn. + Compact Header" Display="expand" Level="100" Title="Extras"> -->
                <Feature Id="CompactHeader" AllowAdvertise="system" Description="This installs the Compact Header extensions" Display="expand" Level="100" Title="Compact Header">
					<!--
                    <ComponentGroupRef Id="ExtExtraFolColFiles" />
                    <ComponentGroupRef Id="ExtExchangeCalendar" />
					-->
                    <ComponentGroupRef Id="ExtCompactHeaderFiles" />
                </Feature>
<!-- 				<Feature Id="Language_Helper" AllowAdvertise="system" Description="This installs dictionary and locale switcher + translator." Display="hidden" Level="3" Title="Language Helper">
					<ComponentGroupRef Id="ExtLocaleSwitcher" />
					<ComponentGroupRef Id="ExtDictionarySwitcherFiles" />
                    <Condition Level="0">&amp;Language_Pack_DEU=0 AND &amp;Language_Pack_FRA=0 AND &amp;Language_Pack_ITA=0 AND &amp;Language_Pack_RUM=0</Condition>
                </Feature> -->
			</Feature>
        </Feature>
        <Property Id="ApplicationFolderName" Value="Mozilla Thunderbird" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
        <Property Id="ARPCONTACT" Value="ETH Informatikdienste Helpdesk" />
        <Property Id="ARPURLINFOABOUT" Value="http://www.id.ethz.ch/support" />
        <Property Id="DESKTOP_SC" Value="1" />
        <Property Id="ARPHELPLINK" Value="http://www.id.ethz.ch/support" />
        <Property Id="INSTALLDIR" Secure="yes" />
        <Property Id="UPGRADE_1" Secure="yes" />
        <Property Id="UPGRADE_2" Secure="yes" />
        <Property Id="UPGRADE_3" Secure="yes" />
        <Property Id="UPGRADE_4" Secure="yes" />
        <Property Id="UPGRADE_5" Secure="yes" />
        <Property Id="UPGRADE_6" Secure="yes" />
        <Property Id="UPGRADE_7" Secure="yes" />
        <Property Id="UPGRADE_8" Secure="yes" />
        <Property Id="UPGRADE_9" Secure="yes" />
        <Property Id="ARPHELPTELEPHONE" Value="++41 (0) 44 632 77 77" />
        <Property Id="ARPURLUPDATEINFO" Value="http://studides.ethz.ch" />
        <Property Id="INSTALLLEVEL" Value="3" />
        <Property Id="ARPCOMMENTS" Value="Mozilla ThunderBird" />
        <Property Id="ALLUSERS" Value="1" />
        <Property Id="_WiseDebugMode" Value="0" />
        <Property Id="SHORTCUTDIR">
            <RegistrySearch Id="SC_Dir" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" Name="ShortcutDirectory" Type="raw" />
        </Property>
        <Upgrade Id="{49F1F11B-05B3-4DC2-8239-A856A08D51A2}">
            <UpgradeVersion Minimum="1.0.0" Maximum="$(var.upgradeversion)" Property="UPGRADE_9" IncludeMinimum="yes" IncludeMaximum="no" />
        </Upgrade>
        <Upgrade Id="{714D0545-9208-44E6-A37D-F4C283A7FCC5}">
            <UpgradeVersion Minimum="1.0.0" Maximum="1.6.0" Property="UPGRADE_7" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
        </Upgrade>
        <Upgrade Id="{5DE9E5EE-5091-44D7-827A-A55D6EFFF9D1}">
            <UpgradeVersion Minimum="1.0.0" Maximum="1.6.0" Property="UPGRADE_8" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
        </Upgrade>
        <Upgrade Id="{2D3623CC-0C57-4843-B555-5DDFF04D0092}">
            <UpgradeVersion Minimum="1.0.0" Maximum="1.6.0" Property="UPGRADE_6" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
        </Upgrade>
        <Upgrade Id="{4CD59AAF-92D2-4FDA-99B4-C6CC185B391C}">
            <UpgradeVersion Minimum="1.0.0" Maximum="2.1.0" Property="UPGRADE_5" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
        </Upgrade>
        <Upgrade Id="{80D1434C-043A-4437-85C3-EA04607DE554}">
            <UpgradeVersion Minimum="1.0.0" Maximum="1.6.0" Property="UPGRADE_3" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
        </Upgrade>
        <Upgrade Id="{C8324920-394F-4DFD-918B-D08B9C47714E}">
            <UpgradeVersion Minimum="1.0.0" Maximum="1.6.0" Property="UPGRADE_1" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
        </Upgrade>
        <Upgrade Id="{FC795FE3-F090-487C-BCA7-D187EAE7A4FF}">
            <UpgradeVersion Minimum="1.0.0" Maximum="1.6.0" Property="UPGRADE_2" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
        </Upgrade>
        <Upgrade Id="{8A366F02-E1F5-4529-A4D0-6ADDDE219980}">
            <UpgradeVersion Minimum="1.0.0" Maximum="1.6.0" Property="UPGRADE_4" IgnoreRemoveFailure="yes" IncludeMinimum="yes" />
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts Sequence="790" />
        </InstallExecuteSequence>
    </Product>
</Wix>